/* ===================== Fontes e Cores ================== */
@font-face {
    font-family: 'Mangat';
    src: url('../assets/fonts/mangat.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;}

@font-face {
    font-family: 'Mangatb';
    src: url('../assets/fonts/mangatb.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;}

@font-face {
    font-family: 'Mangati';
    src: url('../assets/fonts/mangati.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;}

:root {
   --cor-preto: #000;
   --cor-branco: #fff;
   --cor-cinza: #f2f2f2;
   --cor-cinza-escuro: #999;
   --cor-destaque: #1f7a3f; 

   --sombra-leve: 0 4px 12px rgba(0,0,0,0.8);

   --fonte-principal: 'Inter', sans-serif;
   --fonte-secundaria: 'Alfa', serif;
   --fonte-terciaria:'Playfair Display', serif;

   --manga1: 'Mangat', sans-serif;
   --manga2: 'Mangatb', sans-serif;
   --manga3: 'Mangati', sans-serif;}
   

/*=========================================================*/



/*================== Configurações Gerais  ================*/
*{ /* Seletor Universal */
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body { /* Body */
    font-family: var(--fonte-principal);
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    overflow-x: hidden;}

a{ /* Link s*/
    text-decoration: none!important;
    color: inherit;}

img { /* Imagens */
    max-width: 100%;
    display: block;}

button { /* Botões */
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;}

h1, h2, h3 { /* Títulos */
    font-weight: 700;
    letter-spacing: 1px;}

section {/* Seções */
    width: 100%;
    position: relative;}

body.modal-open {
    overflow: hidden;
    height: 100vh;}

/*=========================================================*/


/* ======================== Hero ========================= */
.hero {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 80px 5%;
    gap: 40px;}

/* Imagem */
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;}

.hero-image img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 60px;
    margin-left: 150px;
    width: 60%;
    max-width: 650px;
    height: auto;
    object-fit: contain;}

/* Texto */
.hero-info {
    align-self: start;
    margin-top: 50px;}

.logo-text {
    display: inline-flex;    
    flex-direction: column;  
    align-items: center;     
    text-align: center;     
    margin-left: 0;}

.logo-HxH {
    width: 100%;
    max-width: 500px;
    height: auto;
    transform: scale(0.9); 
    transform-origin: center;}

.language-switch {
    position: absolute;
    top: 100px;
    right: 20px;
    display: flex;
    gap: 10px;}

.language-switch button {
    padding: 6px 14px;
    border: 2px solid var(--cor-preto);
    font-size: 13px;
    transition: 0.3s;}

.language-switch button:hover {
    background-color: var(--cor-preto);
    color: var(--cor-branco);}

.hero-info p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--cor-cinza-escuro);}

.hero-info a {
    font-family: var(--manga1);
    transition: 0.3s;
    font-weight: 600;
    border-bottom: 1px solid currentColor;}

.hero-info a:hover {
    color: #757575;}
/*=========================================================*/



/* ==================== MENU LATERAL ===================== */

/* Linha vertical fixa */
body::before { 
    content: "";
    position: fixed;
    left: 80px;
    top: 0;
    width: 2px;
    height: 100vh;
    background: var(--cor-preto);
    z-index: 6;
    transition: 0.4s ease;}

/* Checkbox invisível */    
#menu-toggle { 
    display: none;}

/* Botão hamburguer */
.menu-button { 
    position: fixed;
    top: 30px;
    left: 15px;
    z-index: 5;
    cursor: pointer;
    transition: 0.3s ease;}
    
.menu-button:hover .top {
    transform: translateX(3px);}

.menu-button:hover .middle {
    transform: translateX(-3px);}

.menu-button:hover .bottom {
    transform: translateX(3px);}

.bar {
    display: block;
    width: 50px;
    height: 3px;
    background: var(--cor-preto);
    margin: 6px 0;
    transition: 0.4s ease;}

/* Menu fechado */
aside { 
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 4;}

/* Parte principal (menu que desliza) */
.aside-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-branco);
    position: relative;
    background-size: 6px 6px;
    transform: translateX(100%);
    transition: transform 0.6s ease;}

/* Quando abrir */
#menu-toggle:checked ~ aside {
    pointer-events: auto;}

#menu-toggle:checked ~ aside .aside-right {
    transform: translateX(0);}

/* Lista */
.aside-list {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px ;
    list-style: none;}

.aside-list li {
    position: relative;}

.aside-list li::before {
    content: attr(data-number);
    position: absolute;
    left: -60px;
    font-size: 90px;
    opacity: 0.10;
    font-weight: 600;}

#menu-toggle:checked ~ aside .aside-list li {
    opacity: 1;
    transform: translateY(0);}

.aside-list a {
    text-decoration: none;
    font-family: var(--fonte-terciaria);
    font-size: 55px;
    color: var(--cor-preto);
    letter-spacing: 2px;
    transition: 0.3s ease;
    position: relative;}

.aside-list a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--cor-preto);
    transition: 0.4s ease;}

.aside-list a:hover::after {
    width: 100%;}

.aside-list a:hover {
    letter-spacing: 2px;
    opacity: 0.6;}

/* imagem do Gon */
.menu-background-image {
    filter: grayscale(20%);
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    height: 70%;
    pointer-events: none;
    z-index: 1;}

.menu-background-image img {
    height: 100%;
    opacity: 0.35;
    transition: 0.6s ease;}

#menu-toggle:checked ~ aside .menu-background-image img {
    transform: translateX(-60px);}

#menu-toggle:checked ~ aside {
    pointer-events: auto;}

/* trava scroll */
#menu-toggle:checked ~ aside,
#menu-toggle:checked ~ aside ~ * {
    overflow: hidden;}

/* Animação do X */
#menu-toggle:checked + .menu-button .top { 
    transform: rotate(45deg) translate(5px, 5px);}

#menu-toggle:checked + .menu-button .middle {
    opacity: 0;}

#menu-toggle:checked + .menu-button .bottom {
    transform: rotate(-45deg) translate(7px, -6px);}

/* delay em cascata */
#menu-toggle:checked ~ aside .aside-list li:nth-child(1) { transition-delay: 0.1s; }
#menu-toggle:checked ~ aside .aside-list li:nth-child(2) { transition-delay: 0.2s; }
#menu-toggle:checked ~ aside .aside-list li:nth-child(3) { transition-delay: 0.3s; }
#menu-toggle:checked ~ aside .aside-list li:nth-child(4) { transition-delay: 0.4s; }
#menu-toggle:checked ~ aside .aside-list li:nth-child(5) { transition-delay: 0.5s; }
#menu-toggle:checked ~ aside .aside-list li:nth-child(6) { transition-delay: 0.6s; }

/* ===================================================== */



/* ==================== FAIXA DE VÍDEO =================== */
.video-section {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    background: var(--cor-preto);
    cursor: pointer;}

.video-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 56.25vw;}

.video-preview iframe {
    width: 100%;
    height: 100%;}

.video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.6s ease;
    overflow: hidden;}

.video-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: -160%;
    width: 160%;
    height: 100%;
    background: linear-gradient(
        110deg,
        transparent 0%,
        rgba(255, 255, 255, 0.05) 35%,
        rgba(255, 255, 255, 0.6) 50%,   /* núcleo mais forte = lâmina */
        rgba(255, 255, 255, 0.05) 65%,
        transparent 100%);
    transition: right 2s cubic-bezier(0.4, 0, 0.2, 1);}

.video-overlay:hover::before {
    right: 160%;}

.video-overlay:hover {
    background: rgba(0, 0, 0, 0.4);}

/* Botão de play da faixa principal */
.play-button { 
    width: 0;
    height: 0;
    border-left: 40px solid white;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    cursor: pointer;
    transition: 0.3s ease;
    filter: drop-shadow(0 0 20px rgba(255,255,255,0.5))}

/* Estado inicial do modal (escondido) */
.video-modal { 
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;}

/* Quando o JS entra em ação */
.video-modal.active { 
    display: flex;}

.video-modal iframe {
    width: 90%;
    height: 80%;
    border-radius: 12px;
    box-shadow: 0 30px 80px rgba(0,0,0,0.8);}

/* Botão para fechar o vídeo aberto */
.video-close { 
    margin-right: 15px;
    position: absolute;
    top: 30px;
    right: 40px;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    transform: rotate(0deg) scale(1);
    transition: 
        opacity 0.4s ease,
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);}

.video-close::before,
.video-close::after { /* Linhas do X */
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: var(--cor-branco);
    transform-origin: center;
    transition: 
        height 0.4s ease,
        background 0.4s ease;}

.video-close::before {
    transform: translate(-50%, -50%) rotate(45deg);}

.video-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);}

.video-close:hover {
    opacity: 1;
    transform: rotate(90deg) scale(1.12);}

.video-close:hover::before,
.video-close:hover::after {
    height: 3px;}

.hero-video {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;}

.modal-video {
    border-radius: 20px;
    height: 900px;}
/*=========================================================*/